table  {
     border: 4px solid #336bd4;
     border-collapse: collapse;
     min-width: 400px;
     /*to align a table in css i need tp modify the margins*/
     margin-left: auto;
    margin-right: auto;
    width: 95%
    	}
			
td            { border: 3px solid #336bd4;}